@import 'animdrop.css';
@import 'fadeInUp.css';

.first {
    background-image: url(img/Property\ 1=sunny.png);
    min-height: 883px;
    /* width: 1250px; */
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: fixed;
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 15.25%, rgba(255, 255, 255, 0) 100%);
    height: 90px;
    width: 100%;
    padding-left: 890px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #003111;
    text-decoration: none;
    margin-right: 40px;
}

.era {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    color: #004F1B;
    text-align: center;
    margin: 150px 130px 0 130px;
}

.ki {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #003111;
    margin: 50px 85px 0 85px;
}

.join {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    width: 168px;
    height: 45px;
    background: #004F1B;
    border-radius: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 60px;
    box-shadow: none;
    border: none;
}

.join:hover {
    background: #003111;
}

.space {
    height: 200px;
}

.second {
    height: auto;
    background-color: #FFE2A9;
    padding: 64px;
}

.warn {
    display: flex;
}

.warn img {
    width: 42px;
    height: 42px;
}

.diabet {
    width: 250px;
    margin-right: 90px;
}

.descr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #003111;
}

.undia {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    color: #004F1B;
    margin-top: 205px;
    line-height: 116.02%;
}

.ind {
    display: flex;
    justify-content: inherit;
}

.drops {
    display: flex;
    padding-left: 10px;
}

.drops .fdr {
    display: block;
    margin-right: 25px;
    height: 235px;
    width: 140px;
    margin-top: 73px;
    transform: scale(2);

}


.drops .secdr {
    display: block;
    height: 235px;
    width: 140px;
    margin: 8px 25px 0 20px;
    transform: scale(2)
}

.drops .thdr {
    display: block;
    height: 235px;
    width: 140px;
    margin-left: 20px;
    margin-top: 73px;
    transform: scale(2)
}

.fdr_animated,
.secdr_animated,
.thdr_animated {
    animation-name: droppic1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

}

.third {
    display: flex;
    background-color: #004F1B;
    min-height: 600px;
    padding: 30px 34px 30px 34px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #FFE2A9;
    margin-top: 338px;
    text-align: left;
    margin-right: 150px;
}

.flower {
    width: 527px;
    height: 727px;
    margin-left: 100px;
    border-radius: 150px 0px;
}